*,
*::before,
*::after {
  box-sizing: border-box;
} 

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Poppins', sans-serif;
}   

body {
  min-height: 100vh;
  background-color: black;
  color:white;
  height: 100vh;
}


header{
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('images/prettywoman.jpg');
  background-size:cover;
  background-position:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  position: fixed;
  background: black;
  margin: 0;
  top:0;
  height: 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.netflix-logo{
  width:100px;
  height:75px;
  margin-left:20px;
  display:flex;
 
}  
.n-logo{
  display: none;
}  
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.main-menu{
  display: flex;
  flex:2;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap:20px;
  padding:10px;
  color:silver;
  
}
.bold{
  color:whitesmoke;
  font-weight: bold;
}

.right-menu{
  display:flex;
  flex:1;
  align-items: center;
  gap:20px;
  padding:20px;
  justify-content:flex-end;
  text-align:end;
}

.hero{
display: flex;
flex-direction: column;
align-items:flex-start;
margin:50px 50px;
gap:75px;
}
.pretty-woman{
  width:50%;
  height: 50%;
}

.buttons{
  display: flex;
  justify-content: space-between;
  gap:50px;
}
button{
  border:none;
  background-color:rgba(128, 128, 128, 0.5);
  color:whitesmoke;
  font-weight: bold;
}

.fa-play, .fa-circle-info{
  padding: 10px;
}
.space{
   margin: 10px;
}
.text-content{
  width:50%;
}
.netflix-originals, .top-rated, .children-family{
  margin-left: 50px;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  margin: 15px 0;
}

.horizontal-cards-container, .vertical-cards-container{
  display: flex;
  flex-wrap: nowrap;
  flex:1;
  gap:10px;
  overflow: scroll;
  scrollbar-width: none;
  justify-content: space-evenly; 
    
  
}

.vertical-images {
  display:flex;
  flex-wrap: nowrap;
}


.vertical-images img{
  object-fit: cover;
  width: 196.66px;
  height: 275.55px;
}


.horizontal-images{
 display: flex;
 flex-wrap: nowrap;
}

@media (max-width: 500px) {
  
  body {
    min-height: 100vh;
    background-color: black;
    color:white;
    height: 100vh;
    
  }

  header{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('images/prettywoman.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
   

nav {
  display: flex;
  width: 100%;
}

  .netflix-logo{
  display:none;
  }  

  .n-logo{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
  }

.main-menu{
  display: flex;
  justify-content: flex-start;
}

.main-menu a:not(:first-child){
  display: none;
}

.right-menu{
  display:flex;
  justify-content:flex-end;
}

.right-menu  *:not(:nth-child(1)):not(:nth-child(4)):not(:nth-child(5)) {
  display: none; 
}

.text-content{
  text-align: justify;
  width:100%;
  order:1;
}
  
.buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    order:2;
  }
  
  .netflix-originals, .top-rated, .children-family {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left:0;
  
  } 
   
  
  .horizontal-cards-container, .vertical-cards-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    margin-left:0;
  }
  }

